@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9000;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-inline-start: 1.25em;
}
header ul li a {
  text-decoration: none;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 1.25em;
}
header ul li a:hover,
.active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, #1c0522);
  z-index: 1000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#stars {
  transform: rotate(0deg);
}
section img#moon {
  mix-blend-mode: screen;
  /* transform: rotate(-80deg); */
  transform-origin: 50% 70%;
}
section img#mountains_front {
  z-index: 10;
}
section #text {
  position: absolutes;
  margin-right: -1200px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 2em;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 11;
  /* transform: translateY(100px); */
}

.sec {
  position: relative;
  background: #1c0522;
  color: #fff;
  padding: 150px 0 100px;
}

.sec h2 {
  width: 90%;
  font-size: 3.5em;
  margin-bottom: 0.75em;
  margin-inline: auto;
  text-align: center;
}

.sec p {
  width: 90%;
  max-width: 90ch;
  margin-inline: auto;
  font-size: 1.2em;
  margin-bottom: 0.75em;
}

.container {
  display: none;
  width: 95%;
  text-align: center;
  margin-inline: auto;
  font-size: 0.75rem;
  padding: 0.5em;
  border: 4px solid hsl(120, 100%, 50%);
  margin-top: 3em;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  header, section {
    display: none;
  }
}
